Flask==3.0.3
Flask_Login==0.6.3
flask_sqlalchemy==3.1.1
munch==4.0.0
numpy==2.0.1
pandas==2.2.2
psycopg2==2.9.9
PyYAML==6.0.1
PyYAML==6.0.2
Requests==2.32.3
SQLAlchemy==2.0.31
Werkzeug==3.0.3
xgboost==2.1.1
