body {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Full viewport height */
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #00090f;
    color: #ffffff;
}

header {
    width: 100%;
    background-color: #011627;
    color: #ffffff;
    padding: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
    z-index: 1000; /* Ensure header is above other elements */
    flex-shrink: 0; /* Prevent header from shrinking */
}

.main-content {
    display: flex;
    flex: 1; /* Fill available space */
    margin: 10px; /* Space around container */
    gap: 10px; /* Gap between sidebar and container */
}

.sidebar {
    width: 10%; /* Expanded sidebar width */
    overflow-y: auto; /* Allow scrolling if needed */
    background-color: #011627;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: width 0.3s, padding 0.3s;
    position: relative;
    z-index: 500; /* Ensure it stays below the header */
}

.sidebar.collapsed {
    width: 50px; /* Collapsed sidebar width */
    padding: 20px 5px; /* Adjust padding to fit collapsed width */
}

.sidebar h2 {
    margin: 0;
    font-size: 20px;
    color: white;
}

.sidebar.collapsed h2 {
    display: none; /* Hide sidebar title in collapsed state */
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    transition: color 0.3s;
    padding: 5px; /* Add padding for clickable area */
}

.sidebar ul li a:hover {
    color: #4BC0C0; /* Optional: change color on hover */
}

.sidebar ul li a span.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: 40px; /* Icon size */
}

.sidebar ul li a span.text {
    margin-left: 10px;
    display: inline-block; /* Ensure text is displayed inline with icon */
}

.sidebar.collapsed ul li a span.text {
    display: none; /* Hide text in collapsed state */
}

.sidebar.collapsed ul li a span.icon {
    margin-left: 0;
    width: 100%;
    justify-content: center; /* Center icon in collapsed state */
}

.sidebar .toggle-btn {
    display: block;
    background-color: #011627;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    text-align: left;
    font-size: 24px;
}

.container {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    flex: 1; /* Fill available space */
    gap: 10px; /* Gap between sections */
    overflow: hidden; /* Prevent overflow */
}

.graph-section, .trades-section, .buttons-section, .stop-loss-section {
    background-color: #011627;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.graph-section {
    flex: 1; /* This ensures the graph section takes the remaining available space */
    display: flex;
    flex-direction: column; /* Stack children vertically */
    position: relative;
    overflow: hidden; /* Prevents content from overflowing */
}

.line-graph-container {
    flex: 1; /* Ensures the graph container fills the available space */
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    justify-content: center; /* Center the graph vertically */
    align-items: center; /* Center the graph horizontally */
    min-height: 300px; /* Minimum height for the graph container */
    width: 100%; /* Full width of the container */
}

#lineGraph {
    width: 100% !important; /* Full width of its container */
    height: 100% !important; /* Full height of its container */
    min-height: 300px; /* Ensure a minimum height for the graph */
}

.trades-section {
    height: 300px; /* Height for the trades section */
    overflow-y: auto; /* Allow scrolling if content overflows */
}

.buttons-section {
    display: flex;
    justify-content: space-between;
}

h2 {
    color: #fff;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #4BC0C0;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #4BC0C0;
    color: #011627;
    text-transform: uppercase;
}

a {
    color: #011627;
    text-decoration: none;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: #011627;
    background-color: #4BC0C0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #36a9a4;
}

.bot-info-section {
    background-color: #011627;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    /* margin-bottom: 10px; */
}

.bot-info-section h2 {
    color: #fff;
    margin-bottom: 10px;
}

.bot-info-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.bot-info-section ul li {
    margin-bottom: 5px; /* Space between list items */
    color: #ffffff;
}

.bot-info-section ul li strong {
    color: #4BC0C0; /* Highlight the label in a different color */
}

/* Loading animation styles */
#loading-animation {
    border: 4px solid rgba(255, 255, 255, 0.1); /* Light grey */
    border-radius: 50%;
    border-top: 4px solid #4BC0C0; /* Green color for the spinner */
    width: 5px;
    height: 5px;
    animation: spin 1s linear infinite;
    display: inline-block;
    margin-left: 10px; /* Space between text and spinner */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Utility class to hide elements */
.hidden {
    display: none;
}

.training-metrics-section {
    background-color: #011627;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    /* margin-bottom: 10px; */
}

.training-metrics-section h2 {
    color: #fff;
    margin-bottom: 10px;
}

.metric {
    margin-bottom: 20px; /* Space between metrics */
}

#confusion-matrix {
    width: 50%;
    color: #ffffff;
    background-color: #011627;
    padding: 10px;
    border-radius: 5px;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#confusion-matrix table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

#confusion-matrix th, #confusion-matrix td {
    padding: 10px;
    border: 1px solid #4BC0C0;
    text-align: center; /* Ensure text is centered */
    vertical-align: middle; /* Center vertically */
}

#confusion-matrix th {
    background-color: #4BC0C0;
    color: #011627;
    text-transform: uppercase;
}

.metric-definition {
    padding-top: 10px;
    background-color: #011627;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.explanation_content {
    background-color: #36a9a4;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.metric-definition p {
    margin: 10px;
    text-align: left;
}

.fixed-button {
    position: fixed; /* Fix the button's position */
    bottom: 20px; /* Distance from the bottom */
    right: 20px; /* Distance from the right */
    background-color: #4BC0C0; /* Button background color */
    color: #ffffff; /* Arrow color */
    border: none;
    border-radius: 50%; /* Round button */
    width: 50px; /* Button width */
    height: 50px; /* Button height */
    display: flex;
    align-items: center; /* Center arrow vertically */
    justify-content: center; /* Center arrow horizontally */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Ensure the button stays above other content */
    transition: background-color 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.fixed-button:hover {
    background-color: #36a9a4; /* Change color on hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

#sidebar_dots {
    transition: transform 0.3s ease-in-out;
}

.rotate-90 {
    transform: rotate(90deg);
}
