<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trading Bot Dashboard</title>
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bot.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script src="{{ url_for('static', filename='js/bot.js') }}"></script>
    <script src="{{ url_for('static', filename='js/chart.js') }}"></script>
</head>
<body>
    <header>
        <h1>{{ bot[2] }}</h1>
    </header>
    <div class="main-content">
        <div class="sidebar" id="sidebar">
            <ul class="no_border">
                <li><span class="icon"><button class="toggle-btn" onclick="toggleSidebar()"><img src="{{ url_for('static', filename='images/icons/sidebar.svg') }}" id="sidebar_dots"></button></span></li>
                <li><a href="/dashboard"><span class="icon"><img src="{{ url_for('static', filename='images/icons/dashboard.svg') }}"></span><span class="text">Dashboard</span></a></li>
                <li><a href="/bot_overview"><span class="icon"><img src="{{ url_for('static', filename='images/icons/list.svg') }}"></span><span class="text">My Bots</span></a></li>
                <li><a href="/bot_creation"><span class="icon"><img src="{{ url_for('static', filename='images/icons/plus.svg') }}"></span><span class="text">Create a Bot</span></a></li>
                <li><a href=""><span class="icon"><img src="{{ url_for('static', filename='images/icons/profile.svg') }}"></span><span class="text">Profile</span></a></li>
            </ul>
        </div>
        <div class="container">
            <div class="graph-section">
                <h2>Price Development</h2>
                <div class="line-graph-container">
                    <canvas id="lineGraph"></canvas>
                </div>
            </div>
            <div class="buttons-section">
                <button id="startStopBot" onclick="toggleBot()">Start Bot</button>
                <button id="retrainModel"><a href="/train/{{ bot[0] }}">(Re)train Model</a></button>
            </div>
            <div class="stop-loss-section">
                <!-- Stop Loss Input -->
                <label for="stopLossInput" style="color: #4BC0C0;">Stop Loss (%):</label>
                <input 
                    type="number" 
                    id="stopLossInput" 
                    placeholder="Enter percentage" 
                    style="border: 1px solid #4BC0C0; color: #4BC0C0; background: transparent;" 
                    oninput="
                        var user_id = '{{user.get_id()}}';
                        var bot_id = '{{bot[0]}}';
                        var symbol = '{{bot[5]}}';
                        updateStopLossPrice(user_id, bot_id, symbol, false);
                    "
                />
                
                <!-- Trailing Stop Loss Checkbox -->
                <label for="trailingStopLoss" style="color: #4BC0C0; margin-left: 20px;">
                    <input 
                        type="checkbox" 
                        id="trailingStopLoss" 
                        style="accent-color: #4BC0C0;"
                    />
                    Trailing Stop Loss
                    <!-- TODO Read from the database if trailing stop loss is/was activated and depending on the status set the checkbox. -->
                    <!-- TODO Implement the checkbox functionality / update the database when checkbox is set. -->
                </label>
                
                <!-- Stop Loss Price Display -->
                <br>
                <span id="stopLossPriceShort" style="color: #4BC0C0; margin-left: 10px;">Price short trades: --</span>
                <br>
                <span id="stopLossPriceLong" style="color: #4BC0C0; margin-left: 10px;">Price long trades: --</span>
                
            </div>
            <div class="stop-loss-section">
                <!-- Take Profit Input -->
                <label for="takeProfitInput" style="color: #4BC0C0;">Take Profit (%):</label>
                <input 
                    type="number" 
                    id="takeProfitInput" 
                    placeholder="Enter percentage" 
                    style="border: 1px solid #4BC0C0; color: #4BC0C0; background: transparent;" 
                    oninput="
                    var user_id = '{{user.get_id()}}';
                    var bot_id = '{{bot[0]}}';
                    var symbol = '{{bot[5]}}';
                    updateStopLossPrice(user_id, bot_id, symbol, false);
                "
                />
                
                <!-- Take Profit Price Display -->
                <br>
                <span id="takeProfitPriceShort" style="color: #4BC0C0; margin-left: 10px;">Price short trades: --</span>
                <br>
                <span id="takeProfitPriceLong" style="color: #4BC0C0; margin-left: 10px;">Price long trades: --</span>
            </div>
            <div class="bot-info-section">
                <h2>Bot Information</h2>
                <ul>
                    <li><strong>Name:</strong> {{ bot[2] }}</li>
                    <li><strong>Model Type:</strong> {{ bot[7] }}</li>
                    <li id="currently-training"><strong>Currently Training:</strong> <span id="training-status-value">{{ bot[10] }}</span><span id="loading-animation" class="hidden"></span></li>
                    <li id="lastTrained"><strong>Last Trained:</strong> {{ bot[4] }}</li>
                    <li><strong>Overall Performance:</strong></li>
                    <li><strong>Current Prediction:</strong></li>
                </ul>
            </div>
            <!-- Training Metrics Section -->
            <div class="training-metrics-section" id="training-metrics-section">
                <h2>Training Metrics</h2>
                <div class="metric">
                    <h3>Confusion Matrix</h3>
                    <ul>
                        <li>If 100% of the data were used for training in the last training run, the following values are determined by using the training set.</li>
                    </ul>
                    <div id="confusion-matrix">
                        <span id="loading-animation" class="hidden"></span>
                    </div>
                </div>
                <div class="metric">
                    <h3>Accuracy</h3>
                    <div id="accuracy">
                        <span id="loading-animation" class="hidden"></span>
                    </div>
                    <div class="metric-definition">
                        <details>
                            <summary>Further Information</summary>
                            <div class="explanation_content">
                                <p>Accuracy is a measure of how often the classifier is correct. It is defined as the ratio of the number of correct predictions to the total number of predictions.</p>
                                <p>The formula for accuracy is given by:</p>
                                <p>
                                    \[
                                    \text{Accuracy} = \frac{\text{TP} + \text{TN}}{\text{TP} + \text{TN} + \text{FP} + \text{FN}}
                                    \]
                                </p>
                                <p>Where:</p>
                                <ul>
                                    <li>\(\text{TP}\) = True Positives</li>
                                    <li>\(\text{TN}\) = True Negatives</li>
                                    <li>\(\text{FP}\) = False Positives</li>
                                    <li>\(\text{FN}\) = False Negatives</li>
                                </ul>
                            </div>
                        </details>
                    </div>
                </div>
                <div class="metric">
                    <h3>Balanced Accuracy</h3>
                    <div id="balanced-accuracy">
                        <span id="loading-animation" class="hidden"></span>
                    </div>
                    <div class="metric-definition">
                        <details>
                            <summary>Further Information</summary>
                            <div class="explanation_content">
                                <p>Balanced accuracy is a measure of how well the classifier performs, considering both the sensitivity (true positive rate) and the specificity (true negative rate). It is particularly useful when dealing with imbalanced datasets.</p>
                                <p>The formula for balanced accuracy is given by:</p>
                                <p>
                                    \[
                                    \text{Balanced Accuracy} = \frac{1}{2} \left( \frac{\text{TP}}{\text{TP} + \text{FN}} + \frac{\text{TN}}{\text{TN} + \text{FP}} \right)
                                    \]
                                </p>
                                <p>Where:</p>
                                <ul>
                                    <li>\(\text{TP}\) = True Positives</li>
                                    <li>\(\text{TN}\) = True Negatives</li>
                                    <li>\(\text{FP}\) = False Positives</li>
                                    <li>\(\text{FN}\) = False Negatives</li>
                                </ul>
                            </div>
                        </details>
                    </div>
                </div>
                <div class="metric">
                    <h3>Precision</h3>
                    <div id="precision">
                        <span id="loading-animation" class="hidden"></span>
                    </div>
                    <div class="metric-definition">
                        <details>
                            <summary>Further Information</summary>
                            <div class="explanation_content">
                                <p>Precision is a measure of how many of the positively classified instances were actually correct. It is defined as the ratio of true positives to the sum of true positives and false positives.</p>
                                <p>The formula for precision is given by:</p>
                                <p>
                                    \[
                                    \text{Precision} = \frac{\text{TP}}{\text{TP} + \text{FP}}
                                    \]
                                </p>
                                <p>Where:</p>
                                <ul>
                                    <li>\(\text{TP}\) = True Positives</li>
                                    <li>\(\text{FP}\) = False Positives</li>
                                </ul>
                            </div>
                        </details>
                    </div>
                </div>
                <div class="metric">
                    <h3>Recall</h3>
                    <div id="recall">
                        <span id="loading-animation" class="hidden"></span>
                    </div>
                    <div class="metric-definition">
                        <details>
                            <summary>Further Information</summary>
                            <div class="explanation_content">
                                <p>Recall, also known as Sensitivity or True Positive Rate, is a measure of how well the classifier identifies positive instances. It is defined as the ratio of true positives to the sum of true positives and false negatives.</p>
                                <p>The formula for recall is given by:</p>
                                <p>
                                    \[
                                    \text{Recall} = \frac{\text{TP}}{\text{TP} + \text{FN}}
                                    \]
                                </p>
                                <p>Where:</p>
                                <ul>
                                    <li>\(\text{TP}\) = True Positives</li>
                                    <li>\(\text{FN}\) = False Negatives</li>
                                </ul>
                            </div>
                        </details>
                    </div>
                </div>
            </div>
            <div class="trades-section">
                <h2>Last Trades</h2>
                <!-- TODO Create a histogram of the trade returns -->
                <table>
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th>Side</th>
                            <th>Entry Price</th>
                            <th>Close Price</th>
                            <th>Return</th>
                            <th>TP Triggered</th>
                            <th>SL Triggered</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for trade in trades%}
                            <tr>
                                <td>{{ trade[0] }}</td>
                                <td>{{ trade[1] }}</td>
                                <td>{{ trade[2] }}</td>
                                <td>{{ trade[3] }}</td>
                                <td>{{ trade[4] * 100 }}%</td>
                                <td>{{ trade[5] }}</td>
                                <td>{{ trade[6] }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Up button -->
    <button class="fixed-button" aria-label="Scroll to Top" onclick="scrollToTop()">
        <img src="{{ url_for('static', filename='images/icons/upwards_arrow.svg') }}">
    </button>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        var user = '{{ user.get_id() }}';
        var bot_id = '{{ bot[0] }}';
        var symbol = '{{ bot[5] }}'
        window.onload = function() {
            checkTrainingStatus(user, bot_id);
            checkLastTrained(user, bot_id);
            checkBotRunning(user, bot_id);
            updateStopLossPrice(user, bot_id, symbol, true);
            updateTakeProfitPrice(user, bot_id, symbol, true);
        }

        const ctx = document.getElementById('lineGraph').getContext('2d');
        var lineGraph = fetch_chart_data(symbol, 100, 'True', user, bot_id, ctx);

        function checkBotRunning(user, bot_id){
            const button = document.getElementById('startStopBot');
            var bot_running;
            const url = '/api/bot_is_running/' + user + '/' + bot_id;
            $.ajax({
                url: url,
                type: 'GET',
                data: {
                    user: user,
                    bot_id: bot_id
                },
                success: function(response) {
                    response = $.parseJSON(response);
                    bot_running = response['running'];

                    if (bot_running === 'True') {
                        button.textContent = 'Stop Bot';
                        button.style.backgroundColor = '#DC3545';
                    } else {
                        button.textContent = 'Start Bot';
                        button.style.backgroundColor = '#4BC0C0';
                    }
                },
                error: function(xhr, status, error) {
                    console.error('Error checking if bot is running:', error);
                }
            })
        }

        function toggleBot() {
            var user = '{{ user.get_id() }}';
            var bot_id = '{{ bot[0] }}';
            const button = document.getElementById('startStopBot');

            if (button.textContent === 'Start Bot') {
                button.textContent = 'Stop Bot';
                button.style.backgroundColor = '#DC3545';
                var action = 'True';
            } else {
                button.textContent = 'Start Bot';
                button.style.backgroundColor = '#4BC0C0';
                var action = 'False';
            }

            const url = '/start_stop_bot/' + user + '/' + bot_id + '/' + action;
            $.ajax({
                url: url,
                type: 'GET',
                data: {
                    user: user,
                    bot_id: bot_id,
                    action: action
                },
                success: function(response) {

                },
                error: function(xhr, status, error) {
                    console.error('Error starting / stopping bot:', error);
                    console.error(url);
                }
            })
        }
    </script>
</body>
</html>
