<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a new Bot</title>
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bot_creation.css') }}">
    <script src="{{ url_for('static', filename='js/bot_creation.js') }}"></script>
</head>
<body>
    <header>
        <h1>Create a new Bot</h1>
    </header>
    <div class="container">
        <div>
            <button type="button" class="back_btn"><a href="/dashboard">Back</a></button>
        </div>
        <form method="POST" action="/bot_creation">
            <!-- Name Selection -->
            <div class="crypto-section section">
                <h3><label for="name">Provide a Name</label></h3>
                <input type="text" class="form-control" id="name" name="name" placeholder="Enter bot name" required>
            </div>
            <!-- Cryptocurrency and Time Frame Selection -->
            <div class="crypto-section section">
                <h3><label for="crypto_currency">Choose a Cryptocurrency and Time Frame</label></h3>
                <select id="crypto_currency" class="form-control" name="crypto_currency" required>
                    <option value="" disabled selected>Select a cryptocurrency</option>
                    <option value="BTCUSD">BTCUSD</option>
                    <option value="ETHUSD">ETHUSD</option>
                </select>
                <select id="time_frame" class="form-control" name="time_frame" required>
                    <option value="" disabled selected>Select a time frame</option>
                    <option value="1">1 Minute</option>
                    <option value="5">5 Minutes</option>
                    <option value="15">15 Minutes</option>
                    <option value="60">60 Minutes</option>
                </select>
            </div>

            <!-- Machine Learning Model Selection -->
            <div class="model-section section">
                <h3><label for="ml_model">Choose a Machine Learning Model</label></h3>
                <select id="ml_model" class="form-control" name="ml_model" required>
                    <option value="" disabled selected>Select a model</option>
                    <option value="linear_regression">Linear Regression</option>
                    <option value="xgboost">XGBoost</option>
                </select>
                <div class="form-group">
                    <label for="hyperparamCheckbox">Determine best hyperparameters</label>
                    <input type="checkbox" id="hyperparamCheckbox" name="hyperparamCheckbox" checked>
                </div>
                <div id="hyperparamForm" class="hidden">
                    <h3>Enter Hyperparameters</h3>
                    <div id="learning_rate" class="hyperparam-field">
                        <label for="learning_rate_input">Learning Rate</label>
                        <input type="number" id="learning_rate_input" class="form-control" name="learning_rate" min="0.00000000001" step="any" value="0.001">
                    </div>
                    <div id="num_trees" class="hyperparam-field">
                        <label for="num_trees_input">Number of Trees</label>
                        <input type="number" id="num_trees_input" class="form-control" name="n_estimators" min="1" step="1" value="1000">
                    </div>
                    <div id="max_depth" class="hyperparam-field">
                        <label for="max_depth_input">Max Depth</label>
                        <input type="number" id="max_depth_input" class="form-control" name="max_depth" min="1" step="1" value="6">
                    </div>
                    <div id="gamma" class="hyperparam-field">
                        <label for="gamma_input">Gamma</label>
                        <input type="number" id="gamma_input" class="form-control" name="gamma" min="0" step="1" value="0">
                    </div>
                    <div id="colsample_bytree" class="hyperparam-field">
                        <label for="colsample_bytree_input">Colsample by Tree</label>
                        <input type="number" id="colsample_bytree_input" class="form-control" name="colsample_bytree" min="0.00000000001" max="1" step="any" value="1">
                    </div>
                </div>
            </div>

            <!-- Technical Indicators Selection -->
            <div class="form-group section" id="technicalIndicatorsSection">
                <h3><label for="technical_indicators">Add technical indicator as a feature for the model</label></h3>
                The open price is always included as a technical indicator for the model.
                <select id="technical_indicators" class="form-control" name="technical_indicator_0" onchange="updateAllDropdowns()" required>
                    <option value="" disabled selected>Select a technical indicator</option>
                    <option value="ma">Moving Average</option>
                    <option value="ema">Exponential Moving Average</option>
                    <option value="std">Moving Standard Deviation</option>
                    <option value="macd">MACD</option>
                    <option value="rsi">RSI</option>
                    <option value="momentum">Momentum</option>
                    <option value="plows">Periodic Lows</option>
                    <option value="phighs">Periodic Highs</option>
                    <option value="bb">Bollinger Bands</option>
                </select>
                <!-- The button will be inserted before the 'Create new bot' button -->
                <button type="button" id="addDropdownButton" class="subs_btn">Add technical indicator</button>
            </div>

            <!-- Submit Button -->
            <div>
                <button type="submit" class="submit_btn">Create new bot</button>
            </div>
        </form>
    </div>
</body>
</html>
