<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Bots</title>
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bot_overview.css') }}">
</head>
<body>
    <header>
        <h1>My Bots</h1>
    </header>
    <div class="container">
        <div class="sidebar" id="sidebar">
            <ul class="no_border">
                <li><span class="icon"><button class="toggle-btn" onclick="toggleSidebar()"><img src="{{ url_for('static', filename='images/icons/sidebar.svg') }}" id="sidebar_dots"></button></span></li>
                <li><a href="/dashboard"><span class="icon"><img src="{{ url_for('static', filename='images/icons/dashboard.svg') }}"></span><span class="text">Dashboard</span></a></li>
                <li><a href="/bot_overview"><span class="icon"><img src="{{ url_for('static', filename='images/icons/list.svg') }}"></span><span class="text">My Bots</span></a></li>
                <li><a href="/bot_creation"><span class="icon"><img src="{{ url_for('static', filename='images/icons/plus.svg') }}"></span><span class="text">Create a Bot</span></a></li>
                <li><a href=""><span class="icon"><img src="{{ url_for('static', filename='images/icons/profile.svg') }}"></span><span class="text">Profile</span></a></li>
            </ul>
        </div>
        <div class="main-content">
            <table>
                <thead>
                    <tr>
                        <th>Creation Date</th>
                        <th>Name</th>
                        <th>Traded Symbol</th>
                        <th>bot Type</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for bot in bots %}
                        <tr>
                            <td>{{ bot[3] }}</td>
                            <td>{{ bot[2] }}</td>
                            <td>{{ bot[5] }}</td>
                            <td>{{ bot[7] }}</td>
                            <td>
                                {% if no_bots_created == false %}
                                <button class="details-button"><a href="/bot/{{ bot[0] }}">Details</a></button>
                                <button class="delete_btn"><a href="/delete_bot/{{ bot[0] }}"><img src="static/images/icons/trashcan.svg"></img></a></button>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/bot_overview.js') }}"></script>
</body>
</html>
